@page "/"

<PageTitle>Home</PageTitle>
<div style="border:2px solid red; border-radius:6px;height:100vh;width:100vw;padding:10px;">
    Welcome to your new app.
</div>


@code{
   

    protected override async Task OnInitializedAsync()
    {
       
    }
}
}

